
@{
    ViewBag.Title = "사용단체";
    Layout = "~/Views/shared/_Layout.cshtml";
}


<div class="subvisual">
    <p>성공적인 모금관리 스마트레이저</p>
    <h3>SmartRaiser</h3>
</div>

<div class="container pd60">
    <h3 class="title text-center">서비스 리뷰</h3>

    <div class="col-sm-6 pdt30">
        <a href="http://www.mapoartcenter.or.kr/" target="_blank"><img src="~/content/images/review_logo1.png" alt="" class="img-responsive" width="314" height="98" /></a>
    </div>
    <div class="col-sm-6 pdt30">
        <p class="f_18_s">마포문화재단</p>
        <ul>
            <li>A부터 Z까지 친절한 직원의 도움으로 막막했던 사업을 차근차근 풀어나갈 수 있었습니다.
            고객을 진심으로 대하는 스마트레이저 덕분에 세상에 좋은 기부가 많아지리라 생각합니다.
                단순한 협력 업체가 아닌, 든든한 사업 파트너를 찾으시는 분께 추천합니다.</li>
            <!-- <li></li>
            <li></li> -->
        </ul>
    </div>
    <div style="clear:both;" class="pd60"></div>

    <div class="col-sm-6 pdt30">
        <p class="f_18_s" style="text-align:right">푸른아시아</p>
        <ul>
            <li>스마트레이저는 조직의 다양하고 많은 후원자를 효율적으로 관리할 수 있는 프로그램입니다. 분석 친화적이라 자료 업로드와 추출 기능이 매우 편리합니다.</li>
            <!-- <li></li> -->
            <li>직원의 서비스 또한 매우 훌륭하였고, 다양한 문의 경로 덕분에 답변 역시 빠릅니다.</li>
        </ul>
    </div>
    <div class="col-sm-6 pdt30">
        <a href="http://www.greenasia.kr/" target="_blank"><img src="~/content/images/section_02_banner10.png" alt="" class="img-responsive" width="362" height="185" /></a>
    </div>
    <div style="clear:both;" class="pd60"></div>

    <div class="col-sm-6 pdt30">
        <a href="http://www.hopefoundation.or.kr" target="_blank"><img src="~/content/images/section_02_banner3.png" alt="" class="img-responsive" /></a>
    </div>
    <div class="col-sm-6 pdt30">
        <p class="f_18_s">단체 3의 후기</p>
        <ul>
            <li>스마트레이저에 대한 단체 3의 후기 설명 1</li>
            <li>스마트레이저에 대한 단체 3의 후기 설명 2</li>
            <li>스마트레이저에 대한 단체 3의 후기 설명 3</li>
        </ul>
    </div><div style="clear:both;" class="pd60"></div>

    <div class="col-sm-6 pdt30">
        <p class="f_18_s">단체 4의 후기</p>
        <ul>
            <li>스마트레이저에 대한 단체 4의 후기 설명 1</li>
            <li>스마트레이저에 대한 단체 4의 후기 설명 2</li>
            <li>스마트레이저에 대한 단체 4의 후기 설명 3</li>
        </ul>
    </div>
    <div class="col-sm-6 pdt30">
        <a href="http://www.servingfriends.org" target="_blank"><img src="~/content/images/section_02_banner4.png" alt="" class="img-responsive" /></a>
    </div>
    <div style="clear:both;" class="pd60"></div>

    <div class="col-sm-6 pdt30">
        <a href="http://www.noworry.kr" target="_blank"><img src="~/content/images/section_02_banner5.png" alt="" class="img-responsive" /></a>
    </div>
    <div class="col-sm-6 pdt30">
        <p class="f_18_s">단체 5의 후기</p>
        <ul>
            <li>스마트레이저에 대한 단체 5의 후기 설명 1</li>
            <li>스마트레이저에 대한 단체 5의 후기 설명 2</li>
            <li>스마트레이저에 대한 단체 5의 후기 설명 3</li>
        </ul>
    </div>
</div>




<style media="screen">
    .col-sm-31 a > img {
        max-width: 100%;
    }
</style>
