
@{
    ViewBag.Title = "오시는길";
    Layout = "~/Views/shared/_Layout.cshtml";
}

    <div class="subvisual">
        <p>성공적인 모금관리 스마트레이저</p>
        <h3>SmartRaiser</h3>
    </div>


        <!--section6-->
<div class="section" id="section6">
    <div class="container">
        <h2 class="text-center">CONTACT US</h2>

        <div class="col-sm-7">
            <img src="~/content/images/section_06_img.png" alt="" />
        </div>
        <div class="col-sm-5">
            <p>성공적인 모금관리,<br /><strong>스마트레이저</strong>와 함께하세요!</p>
            <a href="https://cs.smartraiser.co.kr/api/smartraisercs/survey/Survey?id=8078" target="_blank" onclick="gtag('event', '스마트레이저에 문의하기 클릭', {'event_category': '스마트레이저에 문의하기', 'event_label': '@ViewBag.Title' });">스마트레이저에 문의하기</a>
            <a href="https://cs.smartraiser.co.kr/api/smartraisercs/newsletter/subscribe" target="_blank" onclick="gtag('event', '뉴스레터 구독 신청하기 클릭', {'event_category': '뉴스레터 구독신청', 'event_label': '@ViewBag.Title' });">뉴스레터 구독 신청하기</a>
            <a href="https://talk.naver.com/WC9P4Z" target="_blank" onclick="gtag('event', '톡톡문의 클릭', {'event_category': '톡톡문의', 'event_label': '@ViewBag.Title' });">톡톡으로 실시간 문의하기</a>
        </div>
    </div>

</div>
<!--//section6-->


    <div class="container pd60">
    <h3 class="title text-center">오시는길</h3>

    <div class="col-sm-5 pdt30">
        <h1><img src="~/content/images/logo.png" alt="" /></h1>
        <p class=" pdt30">
            전화:070-4010-7728<br />
            이메일:info@smartraiser.co.kr<br />
            서울시 종로구 삼일대로 428, 500호 (낙원동, 낙원상가)
        </p>
    </div>
  

        <div class="col-sm-7 pdt30">
            <div class="container" style="margin:30px auto 100px;">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d559.0122533597599!2d126.98813339346817!3d37.57271058961889!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca2dd694bd073%3A0x5c826273438b4e14!2z7ISc7Jq47Yq567OE7IucIOyiheuhnOq1rCDrgpnsm5Drj5kg7IK87J2864yA66GcIDQyOA!5e0!3m2!1sko!2skr!4v1549595379335" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
</div>

