
@{
    ViewBag.Title = "미션/비전";
    Layout = "~/Views/shared/_Layout.cshtml";
}

<style>
    table.type03 {
        border-collapse: collapse;
        text-align: left;
        margin:0px;
        border:0px;

    }

        table.type03 th {
            width: 350px;
    vertical-align: middle;
            font-weight: bold;
            color: #153d73;
        margin:0px;
        border:0px;
        }

        table.type03 td {
            width: 650px;
            background-color:#dddddd;
            vertical-align: middle;
        margin:0px;
        border:0px;
        }
</style>


<div class="subvisual">
    <p>성공적인 모금관리 스마트레이저</p>
    <h3>SmartRaiser</h3>
</div>

<div class="container pd60">
    <h3 class="title text-center">미션/비전</h3>
    <p class="f_18_s text-center">NPO, 당신이라는 존재를 지원하기 위해 스마트레이저가 있습니다. </p>
</div>

<div class="container">
    <div class="spec3 text-center">
        <img src="~/content/images/img10.png" class="img-responsive" />
        <strong>즐겁게 모금하기</strong>
        <p>스마트레이저의 모금 프로세스를 따라 모금 증대를 짜릿하게 경험</p>
        <p>펀드레이저가 꼭 해야 하는 업무 이외의 모든 것은 스마트레이저가 자동화</p>
    </div>
    <div class="spec3 text-center">
        <img src="~/content/images/img11.png" class="img-responsive" />
        <strong>단체의 문화 변혁하기</strong>
        <p>후원자가 기대하고 바라는 ‘단체와 함께 하는 문화’ 가속화</p>
        <p>단체가 사회적 기대와 긍지를 만들어가는 과정에서 스마트레이저의 total involvement</p>
    </div>
    <div class="spec3 text-center">
        <img src="~/content/images/img12.png" class="img-responsive" />
        <strong>기부자가 신뢰하는 세상 만들기</strong>
        <p>스마트레이저로 단체의 모금 행정관리가 단순하고 선명</p>
        <p>기부자는 기부금의 투명성과 단체의 정보의 정확성에 대해 신뢰 가능</p>
    </div>

</div>
