
@{
    ViewBag.Title = "사용단체";
    Layout = "~/Views/shared/_Layout.cshtml";
}


<div class="subvisual">
    <p>성공적인 모금관리 스마트레이저</p>
    <h3>SmartRaiser</h3>
</div>

<div class="container pd60">
    <h3 class="title text-center">서비스 리뷰</h3>
    <p class="f_18_s text-center">스마트레이저 서비스를 이용 중인 고객 단체들의 후기입니다.<br /><br /></p>

    <div class="col-sm-6 pdt30">
        <a href="http://www.mapoartcenter.or.kr/" target="_blank"><img src="~/content/images/review_logo1.png" alt="" class="img-responsive" /></a>
    </div>
    <div class="col-sm-6 pdt30">
        <p class="f_18_s" style="font-size:1.5em; color:burlywood">(재)마포문화재단</p>
        <ul>
            <li><br /></li>
            <li>
                "A부터 Z까지 친절한 직원의 도움으로 막막했던 사업을 차근차근 풀어나갈 수 있었습니다.
                고객을 진심으로 대하는 스마트레이저 덕분에 세상에 좋은 기부가 많아지리라 생각합니다.
                단순한 협력 업체가 아닌, 든든한 사업 파트너를 찾으시는 분께 추천합니다."
            </li>
        </ul>
    </div>
    <div style="clear:both;" class="pd60"></div>

    <div class="col-sm-6 pdt30">
        <p class="f_18_s" style="text-align:right; font-size:1.5em; color:forestgreen">푸른아시아</p>
        <ul>
            <li><br /></li>
            <li>
                "스마트레이저는 조직의 다양하고 많은 후원자를 효율적으로 관리할 수 있는 프로그램입니다.
                분석 친화적이라 자료 업로드와 추출 기능이 매우 편리합니다.
            </li>
            <li>
                직원의 서비스 또한 매우 훌륭하였고, 다양한 문의 경로 덕분에 답변 역시 빨라 만족스러웠습니다."
            </li>
        </ul>
    </div>
    <div class="col-sm-6 pdt30">
        <a href="http://www.greenasia.kr/" target="_blank"><img src="~/content/images/review_logo4.png" alt="" class="img-responsive" width="280" /></a>
    </div>
    <div style="clear:both;" class="pd60"></div>

    <div class="col-sm-6 pdt30">
        <a href="http://binchae.org/" target="_blank"><img src="~/content/images/review_logo2.png" alt="" class="img-responsive" width="280" height="100"/></a>
    </div>
    <div class="col-sm-6 pdt30">
        <p class="f_18_s" style="font-size:1.5em; color:blueviolet">재단법인 빈손채움</p>
        <ul>
            <li><br /></li>
            <li>
                "스마트레이저는 오랜 모금 프로그램 노하우와 열정으로 비영리단체들의 모금 업무에 큰 도움을 주고 있습니다.
                스마트레이저를 사용한지 2년차인 저희 단체는 후원자 수도 배로 늘었고,
                무엇보다 안정적이고 신뢰할 만한 동반자가 생겨서 든든합니다.
                투명하고 효과적인 모금 행정을 추구하는 단체들에게 강력 추천합니다."
            </li>
        </ul>
    </div><div style="clear:both;" class="pd60"></div>

    <div class="col-sm-6 pdt30">
        <p class="f_18_s" style="text-align:right; font-size:1.5em; color:aqua">사단법인 프렌즈</p>
        <ul>
            <li><br /></li>
            <li>
                "스마트레이저를 쓰고 데이터 관리에 큰 도움을 받고 있습니다.
                대/소분류를 지정하여 소통 내용을 기록할 수 있어서 회원에 대한 관리를 체계적으로 할 수 있어요.
                스케줄에 따른 알림 기능도 좋고요~ 담당자에게 참고할 수 있는 요청인 기능도 정말 잘 쓰고 있습니다!
                홈페이지에 결연아동 정보가 연동되는 것도 너무 좋아요.
                문의 및 해결사항도 그때 그때 성심성의껏 응대해주셔서 너무 좋습니다^^."
            </li>
        </ul>
    </div>
    <div class="col-sm-6 pdt30">
        <a href="http://www.hifriends.or.kr/" target="_blank"><img src="~/content/images/review_logo3.png" alt="" class="img-responsive" /></a>
    </div>
    <div style="clear:both;" class="pd60"></div>

    <div class="col-sm-6 pdt30">
        <a href="http://www.noworry.kr" target="_blank"><img src="~/content/images/section_02_banner5.png" alt="" class="img-responsive" /></a>
    </div>
    <div class="col-sm-6 pdt30">
        <p class="f_18_s" style="font-size:1.5em">단체 5의 후기</p>
        <ul>
            <li><br /></li>
            <li>스마트레이저에 대한 단체 5의 후기 설명 1</li>
            <li>스마트레이저에 대한 단체 5의 후기 설명 2</li>
            <li>스마트레이저에 대한 단체 5의 후기 설명 3</li>
        </ul>
    </div>
</div>

<style media="screen">
    .col-sm-31 a > img {
        max-width: 100%;
    }
</style>
