
@{
    ViewBag.Title = "사용단체";
    Layout = "~/Views/shared/_Layout.cshtml";
}


    <div class="subvisual">
        <p>성공적인 모금관리 스마트레이저</p>
        <h3>SmartRaiser</h3>
    </div>

    <div class="container pd60">
        <h3 class="title text-center">사용단체</h3>

        <div class="col-sm-10" style="margin:0 auto;float:none;">
            <div class="col-sm-31">
                <a href="http://www.hamkke.org" target="_blank"><img src="~/content/images/section_02_banner1.png" alt="" /></a>
            </div>
            <div class="col-sm-31">
                <a href="http://www.westart.or.kr" target="_blank"><img src="~/content/images/section_02_banner2.png" alt="" /></a>
            </div>
            <div class="col-sm-31">
                <a href="http://www.hopefoundation.or.kr" target="_blank"><img src="~/content/images/section_02_banner3.png" alt="" /></a>
            </div>
            <div class="col-sm-31">
                <a href="http://www.servingfriends.org" target="_blank"><img src="~/content/images/section_02_banner4.png" alt="" /></a>
            </div>
            <div class="col-sm-31">
                <a href="http://www.noworry.kr" target="_blank"><img src="~/content/images/section_02_banner5.png" alt="" /></a>
            </div>
            <div class="col-sm-31">
                <a href="http://www.relief.or.kr" target="_blank"><img src="~/content/images/section_02_banner6.png" alt="" /></a>
            </div>
            <div class="col-sm-31">
                <a href="http://www.slowfood.or.kr" target="_blank"><img src="~/content/images/section_02_banner7.png" alt="" /></a>
            </div>
            <div class="col-sm-31">
                <a href="http://www.g4w.net" target="_blank"><img src="~/content/images/section_02_banner8.png" alt="" /></a>
            </div>
            <div class="col-sm-31">
                <a href="http://www.taiwhafound.org" target="_blank"><img src="~/content/images/section_02_banner9.png" alt="" /></a>
            </div>
            <div class="col-sm-31">
                <a href="http://www.greenasia.kr" target="_blank"><img src="~/content/images/section_02_banner10.png" alt="" /></a>
            </div>
            <div class="col-sm-31">
                <a href="http://msf.or.kr" target="_blank"><img src="~/content/images/section_02_banner11.png" alt="" /></a>
            </div>
            <div class="col-sm-31">
                <a href="http://www.worldtogether.or.kr/ko" target="_blank"><img src="~/content/images/section_02_banner12.png" alt="" /></a>
            </div>
            <div class="col-sm-31">
                <a href="http://www.churchinneed.or.kr" target="_blank"><img src="~/content/images/section_02_banner13.png" alt="" /></a>
            </div>
            <div class="col-sm-31">
                <a href="http://www.pusan.ac.kr" target="_blank"><img src="~/content/images/section_02_banner14.png" alt="" /></a>
            </div>
            <div class="col-sm-31">
                <a href="http://volunteeringculture.or.kr" target="_blank"><img src="~/content/images/section_02_banner15.png" alt="" /></a>
            </div>
            <div class="col-sm-31">
                <a href="http://www.smu.ac.kr" target="_blank"><img src="~/content/images/section_02_banner16.png" alt="" /></a>
            </div>
            <div class="col-sm-31">
                <a href="http://www.concern.or.kr" target="_blank"><img src="~/content/images/logo-01.png" alt="" /></a>
            </div>
            <div class="col-sm-31">
                <a href="http://www.ifcj.kr" target="_blank"><img src="~/content/images/logo-09.png" alt="" /></a>
            </div>
            <div class="col-sm-31">
                <a href="http://thebridgeint.com" target="_blank"><img src="~/content/images/logo-03.png" alt="" /></a>
            </div>
            <div class="col-sm-31">
                <a href="http://incrc.org/" target="_blank"><img src="~/content/images/logo-04.png" alt="" /></a>
            </div>
            <div class="col-sm-31">
                <a href="http://www.soaam.or.kr/" target="_blank"><img src="~/content/images/logo-05.png" alt="" /></a>
            </div>
            <div class="col-sm-31">
                <a href="https://blindnet.or.kr:23001/" target="_blank"><img src="~/content/images/logo-06.png" alt="" /></a>
            </div>
            <div class="col-sm-31">
                <a href="http://www.ahafamily.org/" target="_blank"><img src="~/content/images/logo-07.png" alt="" /></a>
            </div>
            <div class="col-sm-31">
                <a href="http://www.sisters.or.kr/" target="_blank"><img src="~/content/images/logo-08.png" alt="" /></a>
            </div>
            <div class="col-sm-31">
                <a href="http://www.budaeco.org" target="_blank"><img src="~/content/images/logo-12.png" alt="" /></a>
            </div>
            <div class="col-sm-31">
                <a href="http://www.foodsmiles.org/index.php" target="_blank"><img src="~/content/images/logo-10.png" alt="" /></a>
            </div>
            <div class="col-sm-31">
                <a href="http://www.dcdcenter.or.kr/" target="_blank"><img src="~/content/images/logo-11.png" alt="" /></a>
            </div>
            <div class="col-sm-31">
                <a href="http://worldsharp.net/" target="_blank"><img src="~/content/images/logo-02.png" alt="" /></a>
            </div>
            <!--div class="col-sm-31">
                <a href="http://www.jjang2.or.kr" target="_blank"><img src="~/content/images/section_02_banner17.png"  alt=""/></a>
            </div-->
        </div>
    </div>
    <style media="screen">
        .col-sm-31 a > img {
            max-width: 100%;
        }
    </style>
