
@{
    ViewBag.Title = "미션/비전";
    Layout = "~/Views/shared/_Layout.cshtml";
}

<style>
    table.type03 {
        border-collapse: collapse;
        text-align: left;
        line-height: 1.5;
        border-top: 1px solid #555555;
        border-left: 3px solid #369;
        margin: 20px 10px;
    }

        table.type03 th {
            width: 350px;
            padding: 10px;
            font-weight: bold;
            vertical-align: top;
            color: #153d73;
            border-right: 1px solid #555555;
            border-bottom: 1px solid #555555;
            background-color:#dddddd;
        }

        table.type03 td {
            width: 650px;
            padding: 10px;
            vertical-align: top;
            border-right: 1px solid #555555;
            border-bottom: 1px solid #555555;
        }
</style>


<div class="subvisual">
    <p>성공적인 모금관리 스마트레이저</p>
    <h3>SmartRaiser</h3>
</div>

<div class="container pd60">
    <h3 class="title text-center">미션/비전</h3>
    <p class="f_18_s text-center">NPO, 당신이라는 존재를 지원하기 위해 스마트레이저가 있습니다. </p>
</div>

<div class="container">
    <div class="spec3 text-center">
        <img src="~/content/images/img10.png" class="img-responsive" />
        <strong>즐겁게 모금하기</strong>
        <p>스마트레이저의 모금 프로세스를 따라 모금 증대를 짜릿하게 경험</p>
        <p>펀드레이저가 꼭 해야 하는 업무 이외의 모든 것은 스마트레이저가 자동화</p>
    </div>
    <div class="spec3 text-center">
        <img src="~/content/images/img11.png" class="img-responsive" />
        <strong>단체의 문화 변혁하기</strong>
        <p>후원자가 기대하고 바라는 ‘단체와 함께 하는 문화’ 가속화</p>
        <p>단체가 사회적 기대와 긍지를 만들어가는 과정에서 스마트레이저의 total involvement</p>
    </div>
    <div class="spec3 text-center">
        <img src="~/content/images/img12.png" class="img-responsive" />
        <strong>기부자가 신뢰하는 세상 만들기</strong>
        <p>스마트레이저로 단체의 모금 행정관리가 단순하고 선명</p>
        <p>기부자는 기부금의 투명성과 단체의 정보의 정확성에 대해 신뢰 가능</p>
    </div>

</div>

<div class="container" style="margin:30px auto 100px;">
    <div class="col-sm-10" style="margin:0 auto;float:none;">
        <h3 class="title text-center">핵심가치</h3>
        <p class="f_18_s text-center">우리의 다섯 가지 핵심가치, 'S, M, A, R, T' 를 소개합니다. <br /><br /></p>

        <table class="type03">
            <tr>
                <th scope="row" style="font-size:1.2em">
                    <img src="~/content/images/core_icon01.png" alt="" /><strong>ㅤSecure : 정보 보안</strong>
                </th>
                <td style="font-size:1.2em; color:#000000"><strong>단체의 정보 보안 및 기밀 유지 원칙을 준수합니다.</strong></td>
            </tr>
            <tr>
                <th scope="row" style="font-size:1.2em">
                    <img src="~/content/images/core_icon02.png" alt="" /><strong>ㅤMake : 시스템 구축</strong>
                </th>
                <td style="font-size:1.2em; color:#000000"><strong>정확하고 안전한 소프트웨어를 개발합니다.</strong></td>
            </tr>
            <tr>
                <th scope="row" style="font-size:1.2em">
                    <img src="~/content/images/core_icon03.png" alt="" /><strong>ㅤAdvance : 기부문화 선도</strong>
                </th>
                <td style="font-size:1.2em; color:#000000"><strong>기부문화와 모금활동의 선진 프로세스를 구현합니다.</strong></td>
            </tr>
            <tr>
                <th scope="row" style="font-size:1.2em">
                    <img src="~/content/images/core_icon04.png" alt="" /><strong>ㅤReflect : 피드백 반영</strong>
                </th>
                <td style="font-size:1.2em; color:#000000"><strong>모금전문가의 생생한 목소리를 지속적으로 반영합니다.</strong></td>
            </tr>
            <tr>
                <th scope="row" style="font-size:1.2em">
                    <img src="~/content/images/core_icon05.png" alt="" /><strong>ㅤTeach : 숙달 교육</strong>
                </th>
                <td style="font-size:1.2em; color:#000000"><strong>단체의 모금활동을 지원하는 코치의 역할을 담당합니다.</strong></td>
            </tr>
        </table>

        <p class="f_32_s text-center" style="margin-top:100px;color:#eb6100;">"모금가들이 스마트레이저를 만들고 스마트레이저는 모금가를 만듭니다."</p>
    </div>
</div>
