
@{
    ViewBag.Title = "스마트코칭";
    Layout = "~/Views/shared/_Layout.cshtml";
}


<div class="subvisual">
    <p>성공적인 모금관리 스마트레이저</p>
    <h3>SmartRaiser</h3>
</div>

<div class="container pd60">

    <h3 class="title text-center">스마트코칭</h3>

    <div class="col-sm-6 pdt30"><img src="/content/images/img05.png" class="img-responsive" /></div>
    <div class="col-sm-6 pdt30">
        <p class="f_18_s">진단, 컨설팅</p>
        <ul>
            <li><br /></li>
            <li>단체 비전을 기반으로 단체의 현안을 해결하는 진단 및 컨설팅 서비스</li>
            <li>단체 리더십 및 실무자와 함께 일정 기간 동안 문제를 해결하는 과정 진행</li>
            <li>컨설팅 경험이 다수 있는 전문가와 함께 진행</li>
        </ul>
    </div>
    <div style="clear:both;" class="pd60"></div>

    <div class="col-sm-6 pdt30">
        <p class="f_18_s" style="text-align:right">단체의 역량강화를 위한 코칭, 워크샵</p>
        <ul>
            <li><br /></li>
            <li>진단, 컨설팅 이후 단체 이해관계자의 역량 강화를 위한 장기적 교육 및 코칭</li>
            <li>조직 및 구성원의 전문성 강화를 통한 단체 역량의 전반적 향상을 모색</li>
            <li>실현 가능성이 높은 실용적 액션 플랜 제시</li>
        </ul>
    </div>
    <div class="col-sm-6 pdt30"><img src="/content/images/img06.png" class="img-responsive" /></div>
    <div style="clear:both;" class="pd60"></div>

    <div class="col-sm-6 pdt30"><img src="/content/images/img_hand1.png" class="img-responsive" /></div>
    <div class="col-sm-6 pdt30">
        <p class="f_18_s">당신에게 꼭 필요한 맞춤 시스템, 스마트코칭</p>
        <ul>
            <li><br /></li>
            <li>신규 지정기부금 단체를 위한 모금 스타팅 설계</li>
            <li>빠른 후원 시스템과 결제 연동 솔루션 구축</li>
            <li>꾸준히 후원자를 늘려야 할 단체라면 반드시 갖춰야 할 자세 제시</li>
        </ul>
    </div>
    
</div>

<div class="container-field pd60 bg_sec">
    <div class="container">
        <h4 class="title" style="margin-bottom:0px;">비영리 역량 강화의 주요 영역</h4>
        <img src="/content/images/img14_new.png" class="img-responsive" />
    </div>
</div>

<div class="container-field pd60 bg_sec">
    <div class="container">

        
    </div>
</div>

<div class="container pd60">
    <h3 class="title text-center">스마트코칭 리뷰</h3>

    <div class="col-sm-6 pdt30">
        <a href="http://www.worldtogether.or.kr/" target="_blank"><img src="~/content/images/section_02_banner12.png" alt="" class="img-responsive" width="362" height="185" /></a>
    </div>
    <div class="col-sm-6 pdt30">
        <p class="f_18_s" style="font-size:1.5em; color:dodgerblue">월드투게더</p>
        <ul>
            <li><br /></li>
            <li>"우리 기관의 주력 사업에 대한 구성원들의 의견이 가시화된 지표로 도출되었다는 점, 그리고 앞으로의 사업 진행 논의에 있어서 유용한 기준이 되었다는 점에서 스마트코칭이 의미가 있었습니다.</li>
            <!--<li></li>-->
            <li>무엇보다 명확한 기준이 되는 툴을 활용함으로써 기관 구성원들의 의견을 효율적으로 수렴할 수 있었다는 점이 가장 좋았습니다."</li>
        </ul>
    </div>
    <div style="clear:both;" class="pd60"></div>

    <div class="col-sm-6 pdt30">
        <p class="f_18_s" style="text-align:right; font-size:1.5em">단체 2의 후기</p>
        <ul>
            <li><br /></li>
            <li>스마트코칭에 대한 단체 2의 후기 설명 1</li>
            <li>스마트코칭에 대한 단체 2의 후기 설명 2</li>
            <li>스마트코칭에 대한 단체 2의 후기 설명 3</li>
        </ul>
    </div>
    <div class="col-sm-6 pdt30">
        <a href="http://www.westart.or.kr" target="_blank"><img src="~/content/images/section_02_banner2.png" alt="" class="img-responsive" /></a>
    </div>
    <div style="clear:both;" class="pd60"></div>

    <div class="col-sm-6 pdt30">
        <a href="http://www.hopefoundation.or.kr" target="_blank"><img src="~/content/images/section_02_banner3.png" alt="" class="img-responsive" /></a>
    </div>
    <div class="col-sm-6 pdt30">
        <p class="f_18_s" style="font-size:1.5em">단체 3의 후기</p>
        <ul>
            <li><br /></li>
            <li>스마트코칭에 대한 단체 3의 후기 설명 1</li>
            <li>스마트코칭에 대한 단체 3의 후기 설명 2</li>
            <li>스마트코칭에 대한 단체 3의 후기 설명 3</li>
        </ul>
    </div>
</div>
