
@{
    ViewBag.Title = "스마트코칭";
    Layout = "~/Views/shared/_Layout.cshtml";
}


<div class="subvisual">
    <p>성공적인 모금관리 스마트레이저</p>
    <h3>SmartRaiser</h3>
</div>

<div class="container pd60">

    <h3 class="title text-center">스마트코칭</h3>

    <div class="col-sm-6 pdt30"><img src="/content/images/img05.png" class="img-responsive" /></div>
    <div class="col-sm-6 pdt30">
        <p class="f_18_s">진단, 컨설팅</p>
        <ul style="font-size:18px">
            <li><br /></li>
            <li>단체 비전을 기반으로 단체의 현안을 해결하는 진단 및 컨설팅 서비스</li>
            <li>단체 리더십 및 실무자와 함께 일정 기간 동안 문제를 해결하는 과정 진행</li>
            <li>컨설팅 경험이 다수 있는 전문가와 함께 진행</li>
        </ul>
    </div>
    <div style="clear:both;" class="pdone"></div>

    <div class="col-sm-6 pdt30">
        <p class="f_18_s" style="text-align:right">단체의 역량강화를 위한 코칭, 워크샵</p>
        <ul>
            <li><br /></li>
            <li>진단, 컨설팅 이후 단체 이해관계자의 역량 강화를 위한 장기적 교육 및 코칭</li>
            <li>조직 및 구성원의 전문성 강화를 통한 단체 역량의 전반적 향상을 모색</li>
            <li>실현 가능성이 높은 실용적 액션 플랜 제시</li>
        </ul>
    </div>
    <div class="col-sm-6 pdt30"><img src="/content/images/img06.png" class="img-responsive" /></div>
    <div style="clear:both;" class="pdone"></div>

    <div class="col-sm-6 pdt30"><img src="/content/images/img_hand1.png" class="img-responsive" /></div>
    <div class="col-sm-6 pdt30">
        <p class="f_18_s">당신에게 꼭 필요한 맞춤 시스템, 스마트코칭</p>
        <ul>
            <li><br /></li>
            <li>신규 지정기부금 단체를 위한 모금 스타팅 설계</li>
            <li>빠른 후원 시스템과 결제 연동 솔루션 구축</li>
            <li>꾸준히 후원자를 늘려야 할 단체라면 반드시 갖춰야 할 자세 제시</li>
        </ul>
    </div>
    
</div>

<div class="container-field pd60 bg_sec">
    <div class="container">
        <h4 class="title" style="margin-bottom:0px;">비영리 역량 강화의 주요 영역</h4>
        <img src="/content/images/img14_new.png" class="img-responsive" />
    </div>
</div>

<div class="container-field pd60 bg_sec">
    <div class="container">

        
    </div>
</div>

<div class="container pd60">
    <h3 class="title text-center">스마트코칭 리뷰</h3>
    <p class="f_18_s text-center">스마트코칭을 이용하셨던 고객 단체들의 후기입니다.<br /><br /></p>

    <div class="col-sm-4 pdt30">
        <a href="http://volunteeringculture.or.kr/" target="_blank"><img src="~/content/images/review_logo10.png" alt="" class="img-responsive" width="240" /></a>
    </div>
    <div class="col-sm-8 pdt30">
        <p class="f_18_s" style="font-size:1.5em; color:#f8013a">한국자원봉사문화</p>
        <ul>
            <li>
                "스마트코칭으로 인해, 20주년 기념행사 기획을 모금에 대한 관점에서 진행한 것이 큰 의의가 되었습니다.
            </li>
            <li>
                ① 모금에의 관점은 이벤트 참석자에게 단체의 Social Position 상승
            </li>
            <li>
                ② 단체가 모금하는 곳이라는 인식을 대내외에 천명
            </li>
            <li>
                ③ 단체의 이사진들의 모금에 대해 반응 시작(부담을 느끼기 시작)
            </li>
            <li>
                ④ 행사를 함께 준비한 후원사들의 올해 사업 증대 및 기업의 문의 증대 등의 성과를 확인하는 기쁨이 있었습니다."
            </li>
        </ul>
    </div>

    <div style="clear:both;" class="pdone"></div>

    <div class="col-sm-4 pdt30">
        <a href="http://incrc.org/" target="_blank"><img src="~/content/images/review_logo6_new.png" alt="" class="img-responsive" width="230" /></a>
    </div>

    <div class="col-sm-8 pdt30">
        <p class="f_18_s" style="font-size:1.5em">국제아동인권센터</p>
        <ul>
            <li>
                "국제아동인권센터는 아동인권옹호활동을 집중하는 단체로서 후원전담 직원을 두기 어려운 상황이었습니다.
                스마트코칭을 통해 부족한 연간후원계획과 집중해야 할 잠재후원자 리스트를 확보하고,
                모금플랫폼을 통한 대중모금까지 다양한 모금기회를 갖게 되었습니다.
                이후, 그때 진행한 진단컨설팅 내용을 바탕으로 매년 모금계획을 수립/실행하고 있습니다.
                스마트코칭은 전 직원이 모금의 필요성을 공감하고 함께 협력하는 기회가 되어 내외부적으로 큰 도움이 되었습니다."
            </li>
        </ul>
    </div>

    <div style="clear:both;" class="pdone"></div>

    <div class="col-sm-4 pdt30">
        <a href="http://www.worldtogether.or.kr/" target="_blank"><img src="~/content/images/review_logo11.png" alt="" class="img-responsive" width="180" /></a>
    </div>
    <div class="col-sm-8 pdt30">
        <p class="f_18_s" style="font-size:1.5em; color:dodgerblue">월드투게더</p>
        <ul>
            <li>
                "우리 기관의 주력 사업에 대한 구성원들의 의견이 가시화된 지표로 도출되었다는 점,
                그리고 앞으로의 사업 진행 논의에 있어서 유용한 기준이 되었다는 점에서 스마트코칭이 의미가 있었습니다.
                무엇보다 명확한 기준이 되는 툴을 활용함으로써 기관 구성원들의 의견을 효율적으로 수렴할 수 있었다는 점이 가장 좋았습니다."
            </li>
        </ul>
    </div>
</div>
