
@{
    ViewBag.Title = "핵심가치";
    Layout = "~/Views/shared/_Layout.cshtml";
}

<div class="subvisual">
    <p>성공적인 모금관리 스마트레이저</p>
    <h3>SmartRaiser</h3>
</div>

<div class="container" style="margin:30px auto 100px;">
    <div class="col-sm-10" style="margin:0 auto;float:none;">
        <h3 class="title text-center" style="font-size:2.0em">핵심가치</h3>
        <p class="f_18_s text-center">스마트레이저의 다섯 가지 핵심가치 <strong style="color:#eb6100;">'S M A R T'</strong> 를 소개합니다. <br /><br /></p>

        <img src="~/content/images/core_table03.png" class="img-responsive" />
        <p class="f_32_s text-center" style="margin-top:100px;color:#eb6100;">"모금가들이 스마트레이저를 만들고 스마트레이저는 모금가를 만듭니다."</p>
    </div>
</div>
