
@{
    ViewBag.Title = "핵심가치";
    Layout = "~/Views/shared/_Layout.cshtml";
}



<div class="subvisual">
    <p>성공적인 모금관리 스마트레이저</p>
    <h3>SmartRaiser</h3>
</div>



<div class="container" style="margin:30px auto 100px;">
    <div class="col-sm-10" style="margin:0 auto;float:none;">
        <h3 class="title text-center">핵심가치</h3>
        <p class="f_18_s text-center">스마트레이저의 다섯 가지 핵심가치 <strong style="color:#eb6100;">'S M A R T'</strong> 를 소개합니다. <br /><br /></p>

<!--
        <table style="margin-bottom:8px;">
            <tr style="border:1px solid black;">
                <th style="background-color:#19496D; vertical-align:middle; margin-top:10px;"> <img src="~/content/images/s.png" alt="" />                </th>
                <td style="text-align:center; color:#000000; width:650px;">단체의 정보 보안 및 기밀 유지 원칙을 준수합니다.</td>
            </tr>
            </table>
        <table style="margin-bottom:8px;">
            <tr style="border:1px solid black;margin-top:10px;">
                <th style="background-color:#19496D; vertical-align:middle; margin-top:10px;"> <img src="~/content/images/m.png" alt="" />                </th>
                <td style="text-align:center; color:#000000; width:650px;">정확하고 안전한 소프트웨어를 개발합니다.</td>
            </tr>
        </table>
        <table style="margin-bottom:8px;">
            <tr style="border:1px solid black;">
                <th style="background-color:#19496D; vertical-align:middle"> <img src="~/content/images/a.png" alt="" />                </th>
                <td style="text-align:center; color:#000000;width:650px;">기부문화와 모금활동의 선진 프로세스를 구현합니다.</td>
            </tr>
        </table>
        <table style="margin-bottom:8px;">
            <tr style="border:1px solid black; ">
                <th style="background-color:#19496D; vertical-align:middle"> <img src="~/content/images/r.png" alt="" />                </th>
                <td style="text-align:center; color:#000000;width:650px; ">모금전문가의 생생한 목소리를 지속적으로 반영합니다.</td>
            </tr>
        </table>
        <table style="margin-bottom:8px;">
            <tr style="border:1px solid black;">
                <th style="background-color:#19496D; vertical-align:middle"> <img src="~/content/images/t.png" alt="" />                </th>
                <td style="text-align:center; color:#000000;width:650px;">단체의 정보 보안 및 기밀 유지 원칙을 준수합니다.</td>
            </tr>
        </table>
-->
        <img src="~/content/images/core_table.png" class="img-responsive" />
        <p class="f_32_s text-center" style="margin-top:100px;color:#eb6100;">"모금가들이 스마트레이저를 만들고 스마트레이저는 모금가를 만듭니다."</p>
    </div>
</div>
