@{
    ViewBag.Title = "FAQ응대";
    Layout = "~/Views/shared/_Layout.cshtml";
}

<script src="http://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript">
jQuery(document).ready(function() {
    jQuery(".menuBtn").click(function() {

        // slideToggle은 요소의 hight 값을 조작해서 움직임을 만들어 낸다.
        // 보이면 안보이게, 안보이면 보이게 처리한다.
        jQuery(".menuNav").slideToggle();
    });
});
</script>

<div class="subvisual">
    <p>성공적인 모금관리 스마트레이저</p>
    <h3>SmartRaiser</h3>
</div>


<div class="container text-center pd60">
    <h3 class="title">FAQ</h3>
    <p class="f_18_s text-center">자주 문의주시는 질문들을 모아놓았습니다.</p>
</div>

<div class="container text-center">
    <div class="col-sm-4 newbox" style="background-color:#042b48; cursor:pointer; color:#000000" onclick="location.href = '/Home/faq';">
        Smartraiser 사용
    </div>
    <div class="col-sm-4 newbox" style="background-color:#042b48; cursor:pointer; color:#000000" onclick="location.href = '/Home/faq_func';">
        Smartraiser 기능
    </div>
    <div class="col-sm-4 newbox" style="background-color:#0b62a3; cursor:pointer; color:#ffffff" onclick="location.href = '/Home/faq_dona';">
        기부자 응대
    </div>
</div>

<div class="container" style="margin:30px auto 100px;">
    <div class="f_18_s newbox" onclick="this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none';" href="javascript:void(0)">
        [응대] 기부자가 즐거워할 만한 응대는 어떻게 진행하나요?
    </div><div class="f_16_s" style="DISPLAY: none; font-size:20px">
        만약 기부자가 연락을 하시면 스마트레이저에서 바로 구성원검색을 하여 기부자의 화면을 확인할 수 있습니다. 그러면 기부자의 기본정보, 그간 단체 후원내역, 단체에 요청한 사항, 결제 정보 등을 한눈에 확인할 수 있습니다. 또한 기부자가 단체에 말씀하신 특이사항이 어떻게 정리되어 있는지 확인해 볼 수 있습니다.
        지난번 연락시 어떤 이야기를 주고 받았는지 먼저 말씀해 보세요.
        기부자는 당신을 기억하고 기부자가 말씀하신 내용을 단체가 알고 있다는 점에 친근하게 생각하고 단체에 대한 애정도가 깊어질 것입니다.
    </div>
    <div class="f_18_s newbox" onclick="this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none';" href="javascript:void(0)">
        [응대] 기부금영수증 발급은 어떻게 하나요?
    </div><div class="f_16_s" style="DISPLAY: none; font-size:20px">
        해마다 연말정산 시즌이 되면, 국세청에 몇 번의 버튼 클릭으로 ‘기부금영수증’ 일괄업로드가 가능합니다. 후원자가 개별적으로 요청할 경우, PDF 파일 이메일 클릭으로 단번에 전송 가능합니다.
        SmartGive를 이용하신다면, 후원자께서 직접 다운로드 버튼을 누르시어 확인 가능합니다.
    </div>
    <div class="f_18_s newbox" onclick="this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none';" href="javascript:void(0)">
        [응대] 메일링에서 예약전송한 경우 발송 전이면 취소 가능한가요?
    </div><div class="f_16_s" style="DISPLAY: none; font-size:20px">
        예약전송한 경우 발송기록에서 아직 발송되기 전이시라면, 해당 내역을 삭제하시면 메일이 발송되지 않습니다.^^
    </div>
    <div class="f_18_s newbox" onclick="this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none';" href="javascript:void(0)">
        [응대] 스마트레이저를 통해, 후원자들에게 이메일이나 문자도 보낼 수 있나요?
    </div><div class="f_16_s" style="DISPLAY: none; font-size:20px">
        물론입니다. ^^ 스마트레이저에 보유한 다양한 후원자에게 문자, 이메일 뿐만 아니라 카카오톡을 전송할 수 있습니다. 개인적인 메시지의 바로 입력은 물론 단체 메시지라도 태그 기능을 이용하여 개인화된 메시지 전송이 가능합니다.

        정기적인 메시지 송신이 필요할 경우, (출금안내, 약정감사, 첫출금확인, 미납안내, 기부생일 감사, 후원리포트 발송, 후원자 생일축하 메시지 등) 자동메일템플릿 기능을 통해 자동 전송 가능합니다. 후원담당자의 응대 시간 및 응대 비용도 크게 절약할 수 있습니다.
    </div>
    <div class="f_18_s newbox" onclick="this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none';" href="javascript:void(0)">
        [응대] 기부자가 자녀 이름(혹은 부모님 이름)으로 후원한 내용을 본인이 공제 받을 수 있나요?
    </div><div class="f_16_s" style="DISPLAY: none; font-size:20px">
        연말정산 시 공제 대상에는 본인이 지출한기부금 + 공제대상자 가 지출한 기부금을 함께 공제 받을 수 있습니다.
        직계존비속의 경우 나이요건이 폐지되었습니다.(17.1.1 이후 연말정산 시)
        간소화서비스를 이용하신다면 간소화서비스 항목에서 자녀이름으로 정보를 조회하여 나온 항목을 연말정산시 사용하시면 되며
        만약 이용하시지 않으신다면, 출력 받은 기부금영수증을 연말정산시 사용하시면 됩니다.
        Tip.
        기부자의 자녀(혹은 부모님)가 공제 대상자가 아닐 경우에는, 스마트레이저 '다인기부' 기능을 활용하여
        자녀(혹은 부모님)의 이름으로 되어있는 기부를 공제를 받기 원하는 기부자에게 금액을 양도할 수 있습니다.
        원칙적으로는 기부금영수증은 기부자 명의로 발행되는 것이 맞으나, 단체 내부 정책적으로
        어떤 특별한 케이스에 있어서 기부한 금액을 기부자 외에 다른 사람의 명의로 옮겨주기로 했을 경우에만 사용하시기 바랍니다.
    </div>
    <div class="f_18_s newbox" onclick="this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none';" href="javascript:void(0)">
        [응대] 메일링을 통한 이메일 마케팅 효과가 있을까요?
    </div><div class="f_16_s" style="DISPLAY: none; font-size:20px">
        2019년 10월 어도비는 이메일이 여전히 마케팅 측면에서 유효하며, 효과를 극대화하기 위해선 개인화가 중요하다는 연구 결과를 발표했습니다.미국 성인 소비자 1,000여명을 대상으로 이메일 사용 현황 대한 설문조사였는데요. 소비자들은 일평균 약 5시간 이상을 업무용 이메일 (3시간)과 개인용 이메일 확인(2시간 이상)에 할애하며, 응답자 절반 이상(업무용 56%, 개인용 60%)은 우편, 소셜채널 등 다른 마케팅 채널 보다 이메일을 통한 브랜드 소식을 가장 선호한다고 답했습니다.
        이 조사는 미국 소비자를 대상으로 진행된 것이지만, 우리나라의 상황도 유사할 것입니다. 이메일 마케팅은 여전히 효과적인 수단입니다.
        스마트레이저 메일링을 적극적인 마케팅에 활용해보세요. 필터링으로 원하는 대상자에게 일괄 전송이 가능합니다. 메일링에는 건수 제한이 없으며, 예약메일 발송, 개인 Tag로 맞춤형 메일, 예약발송과 수신확인까지 가능한 서비스를 제공하고있습니다.
    </div>
    <div class="f_18_s newbox" onclick="this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none';" href="javascript:void(0)">
        [응대] 행사의 초대, 참가자 관리를 하고싶어요
    </div><div class="f_16_s" style="DISPLAY: none; font-size:20px">
        메일링과 SmartSurtvey 로 초청 인원을 한결 수월하게 관리하실 수 있습니다.<br />
        1) 행사초대장 발송<br />
        이번 행사의 초대장을 이메일/문자로 발송하실때, 신청하기 링크를 첨부하세요.
        신청 시 확인해야하는 내용을 상세 항목으로 자유롭게 구성하실 수 있습니다.<br />
        ​2)  신청접수에 대해 알림톡/SMS/이메일로 전달할 수 있습니다.<br />
        스마트레이저 자동메일링을 세팅해두시면, 사전에 저장해둔 예약문자 혹은 예약메일, 알림톡 등을 발송하실 수 있습니다.<br />
        3) 신청현황은 SmartRaiser에서 참가자 리스트로 확인하세요.<br />
        4) 신청여부와 참가여부를 체크하여 follow-up 하실 수 있습니다.<br />
        스마트레이이저 메일링은 이벤트의 참가자를 조건으로 선택하여, 이메일/SMS 발송이 가능합니다.<br />
        5) 스마트레이저는 구성원과의 커뮤니케이션 기록이 활동으로 통합 저장됩니다.<br />
        구성원의 이벤트 참가현황을 한눈에 파악하실 수 있으며, 이벤트 관리 업무가 한결 수월해집니다.
    </div>
    <div class="f_18_s newbox" onclick="this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none';" href="javascript:void(0)">
        [응대] 메일링으로 메일 전송 시 하단에 수신거부 항목을 추가하고 싶습니다.
    </div><div class="f_16_s" style="DISPLAY: none; font-size:20px">
        메일링에서 '수신거부 추가하기' 버튼을 클릭하면, 수신거부 버튼을 추가하실 수 있습니다. 기본적으로 생성된 수신거부 항목을 그대로 사용하여도 되며,'소스' 버튼을 눌러 디자인한 소스를 입히시면 됩니다.
    </div>
</div>

<div class="container text-center pdt30">
    <p>찾으시는 내용이 없나요?<br />스마트레이저로 문의해주시면 친절하게 답변 드립니다.</p>
</div>
<div class="container text-center pd60">
    <a class="f_14 newbox" href="https://cs.smartraiser.co.kr/api/smartraisercs/survey/Survey?id=8078" target="_blank" onclick="gtag('event', '스마트레이저에 문의하기 클릭', {'event_category': '스마트레이저에 문의하기', 'event_label': '@ViewBag.Title' });">스마트레이저에 문의하기</a>
</div>