@{
    ViewBag.Title = "FAQ사용";
    Layout = "~/Views/shared/_Layout.cshtml";
}

<script src="http://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript">
jQuery(document).ready(function() {
    jQuery(".menuBtn").click(function() {

        // slideToggle은 요소의 hight 값을 조작해서 움직임을 만들어 낸다.
        // 보이면 안보이게, 안보이면 보이게 처리한다.
        jQuery(".menuNav").slideToggle();
    });
});
</script>

<div class="subvisual">
    <p>성공적인 모금관리 스마트레이저</p>
    <h3>SmartRaiser</h3>
</div>


<div class="container text-center pd60">
    <h3 class="title">FAQ</h3>
    <p class="f_18_s text-center">자주 문의주시는 질문들을 모아놓았습니다.</p>
</div>



<div class="container">
    <!-- 모바일 화면에서 보여질 토글 메뉴 -->
    <button type="button" class="menuBtn">
        <i><img src="~/content/images/top.png" style="width:20px;height:20px;" /></i><span>분류</span>
    </button>


    <!-- 내비게이션 메뉴, 창크기에 맞게 변화한다.  -->
    <nav class="menuNav" id="menuNav">
        <ul>
            <li><a href="@Url.Action("faq")">SmartRaiser사용</a></li>
            <li><a href="@Url.Action("faq_func")">SmartRaiser기능</a></li>
            <li><a href="#" )">기부자 응대</a></li>

        </ul>
    </nav>
</div>



<div class="container" style="margin:30px auto 100px;">
    <div class="f_18_s newbox" onclick="this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none';" href="javascript:void(0)">
        [응대] 여러 명이 동시에 스마트레이저에서 작업할 수 있나요?
    </div><div class="f_16_s" style="DISPLAY: none">
        네, 스마트레이저를 사용하는 단체의 소속이시라면 자신의 ID를 만들어 동시에 접속하실 수 있습니다.
        단, 데이터는 '저장' 버튼을 누를 때 입력된 정보가 그대로 갱신되므로 중복 저장으로 인한 데이터 손실이 일어나지 않도록 가급적 같은 정보를 동시에 작업하지 않는 것이 좋습니다.
    </div>
    <div class="f_18_s newbox" onclick="this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none';" href="javascript:void(0)">
        [응대] 단체의 행사를 관리하고 싶어요
    </div><div class="f_16_s" style="DISPLAY: none">
        [이벤트] 기능을 활용하면 단체의 행사에 참여한 참가자 참석 관리 및 수입비용등의 전반적인 정보를 관리 가능합니다.
        이벤트 참가비용을 관리하고 싶으시다면, 참가비용을 기부로 관리 하시되, 해당 기부의 영수증 발행인을
        별도로 두어 활용 가능합니다.<br />
        단, SmartGive 이용시 해당 구성원이 영수증 발급 시 영수증으로 발급되므로, 발행자 이름을 "영수증발급불가"등의 이름으로 명시적으로 두는 것이 좋습니다.
    </div>
    <div class="f_18_s newbox" onclick="this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none';" href="javascript:void(0)">
        [응대] 메일링에서 예약전송한 경우 발송 전이면 취소 가능한가요?
    </div><div class="f_16_s" style="DISPLAY: none">
        예약전송한 경우 발송기록에서 아직 발송되기 전이시라면, 해당 내역을 삭제하시면 메일이 발송되지 않습니다.^^
    </div>
    <div class="f_18_s newbox" onclick="this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none';" href="javascript:void(0)">
        FAQ.4
    </div><div class="f_16_s" style="DISPLAY: none">
        답변.4
    </div>
    <div class="f_18_s newbox" onclick="this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none';" href="javascript:void(0)">
        FAQ.5
    </div><div class="f_16_s" style="DISPLAY: none">
        답변.5
    </div>
    <div class="f_18_s newbox" onclick="this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none';" href="javascript:void(0)">
        FAQ.6
    </div><div class="f_16_s" style="DISPLAY: none">
        답변.6
    </div>
    <div class="f_18_s newbox" onclick="this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none';" href="javascript:void(0)">
        FAQ.7
    </div><div class="f_16_s" style="DISPLAY: none">
        답변.7
    </div>
    <div class="f_18_s newbox" onclick="this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none';" href="javascript:void(0)">
        FAQ.8
    </div><div class="f_16_s" style="DISPLAY: none">
        답변.8
    </div>
</div>


<div class="container text-center pdt30">
    <p>찾으시는 내용이 없나요?<br />스마트레이저로 문의해주시면 친절하게 답변 드립니다.</p>
</div>
<div class="container text-center pd60">
    <a class="f_14 newbox" href="https://cs.smartraiser.co.kr/api/smartraisercs/survey/Survey?id=8078" target="_blank" onclick="gtag('event', '스마트레이저에 문의하기 클릭', {'event_category': '스마트레이저에 문의하기', 'event_label': '@ViewBag.Title' });">스마트레이저에 문의하기</a>
</div>