@{
    ViewBag.Title = "연동 페이지 제작";
    Layout = "~/Views/shared/_Layout.cshtml";
}
<div class="subvisual">
    <p>성공적인 모금관리 스마트레이저</p>
    <h3>SmartRaiser</h3>
</div>


<div class="container pd60">
    <h3 class="title text-center">연동 페이지 제작</h3>
    <p class="f_18_s text-center pdt30">
        온라인서비스(SmartGive)는 기부자와 단체를 연결하는 온라인 신청 페이지로<br />
        온라인을 통한 기부신청, 자원봉사 신청, 어린이결연 신청, 온라인 설문조사 및 응모신청이 가능하며<br />
        해당 신청자는 단체의 홈페이지에서 관련된 내역을 실시간으로 확인이 가능합니다.
    </p>
    <p class="f_18_s text-center pdt30" style="color:#eb6100;">온라인서비스(SmartGive)는 단체와 기부자가 한걸음 더 가까워지는 통로가 되어줄 것입니다.</p>
</div>

<div class="container-field pd60 bg_sec_1">
    <div class="container">
        <div class="col-sm-3">
            <h4 class="title">특징</h4>
        </div>
        <div class="col-sm-9 spec11">
            <div class="col-sm-3 text-center">
                <p class="text-center"><img src="~/content/images/sub_btn01_10.png" alt="" /></p>
                <p class="pdt30">간결한 설치와 운영</p>
            </div>
            <div class="col-sm-3 text-center">
                <p class="text-center"><img src="~/content/images/sub_btn01_07.png" alt="" /></p>
                <p class="pdt30">매우 경제적인 사용비용</p>
            </div>
            <div class="col-sm-3 text-center">
                <p class="text-center"><img src="~/content/images/sub_btn01_08.png" alt="" /></p>
                <p class="pdt30">스마트레이저와<br />실시간 연동</p>
            </div>
            <div class="col-sm-3 text-center">
                <p class="text-center"><img src="~/content/images/sub_btn01_09.png" alt="" /></p>
                <p class="pdt30">모바일 페이지 완벽 호환</p>
            </div>
        </div>
    </div>

    <p class="text-center">ㅤ<br />ㅤ<br /></p>

    <div class="container">
        <div class="col-sm-2">
            <h4 class="title">프로세스</h4>
        </div>
        <div class="col-sm-10">
            <p class="text-center"><img src="~/content/images/img07.png" class="img-responsive" alt="" />
        </div>
    </div>
</div>    


<div class="container pd60">
    <h3 class="title text-center">페이지 소개</h3>
    <p class="text-center">ㅤ<br /> </p>
    <br />
    <div class="container text-center">
        <img src="~/content/images/section_04_img.png" alt="" />
    </div>
</div>

<div class="container-field pd60 bg_sec">
    <div class="container">

        <div class="col-sm-12 text-center">
            <h4 class="title2 text-center ">SmartGive</h4>
            <p class="f_18_s text-left"><img src="~/content/images/dot.png" alt="" /> 실시간 기부 및 기부내역 확인 가능(기부금영수증 출력 포함)</p>
            <p class="f_18_s text-left"><img src="~/content/images/dot.png" alt="" /> 다양한 기부결제 유형</p>
            <p class="text-left">- 정기기부 : CMS(자동이체), 신용카드, 계좌이체<br />- 일시기부 : 신용카드, 실시간 계좌이체, 가상계좌, 무통장 입금, Paypal</p>
            <p class="f_18_s text-left"><img src="~/content/images/dot.png" alt="" /> 회원 가입이 필요없는 간편 기부 가능</p>
        </div>
        <div class="col-sm-12 text-center">
            <img src="~/content/images/1_SmartGive.png" class="img-responsive" alt="" />
        </div>
    </div>
</div>

<div class="container pd60">

    <div class="col-sm-12 text-center">
        <h4 class="title2 text-center" style="background:#35779e">SmartVolunteer</h4>
        <p class="f_18_s text-left"><img src="~/content/images/dot.png" alt="" /> 홈페이지를 통한 자원봉사 바로 신청 및 실시간 확인</p>
        <p class="f_18_s text-left"><img src="~/content/images/dot.png" alt="" /> 스마트레이저 내 자원봉사자 및 자원활동 통합 관리</p>
        <p class="f_18_s text-left"><img src="~/content/images/dot.png" alt="" /> 자원봉사 확인증 발급 및 관리</p>
    </div>
    <div class="col-sm-12 text-center">
        <img src="~/content/images/2_SmartVolunteer.png" class="img-responsive" alt="" />
    </div>
</div>

<div class="container-field pd60 bg_sec">
    <div class="container">

        <div class="col-sm-12 text-center">
            <h4 class="title2 text-center " style="background:#4e9dc0">SmartPartner</h4>
            <p class="f_18_s text-left"><img src="~/content/images/dot.png" alt="" /> 온라인 어린이결연 후원신청 및 후원아동 확인 가능</p>
            <p class="f_18_s text-left"><img src="~/content/images/dot.png" alt="" /> 결연어린이 성장 앨범 기록 및 확인 가능</p>
            <p class="f_18_s text-left"><img src="~/content/images/dot.png" alt="" /> 결연어린이에게 선물 기부, 편지보내기 가능</p>
        </div>
        <div class="col-sm-12 text-center">
            <img src="~/content/images/3_SmartPartner.png" class="img-responsive" alt="" />
        </div>
    </div>
</div>

<div class="container pd60">

    <div class="col-sm-12 text-center">
        <h4 class="title2 text-center" style="background:#67cbe6">SmartSurvey</h4>
        <p class="f_18_s text-left"><img src="~/content/images/dot.png" alt="" /> 온라인 의견조사, 이벤트 참여 신청</p>
        <p class="f_18_s text-left"><img src="~/content/images/dot.png" alt="" /> 조사 특징에 따라 다양한 질의 및 요청 가능</p>
        <p class="f_18_s text-left"><img src="~/content/images/dot.png" alt="" /> 참여자 확인 및 효율적 관리, 데이터 통합</p>
    </div>
    <div class="col-sm-12 text-center">
        <img src="~/content/images/4_SmartSurvey.png" class="img-responsive" alt="" />
    </div>
</div>

<div class="container-field pd60 bg_sec">
    <div class="container">

        <div class="col-sm-12 text-center">
            <h4 class="title2 text-center " style="background:#4e9dc0">SmartGift</h4>
            <p class="f_18_s text-left"><img src="~/content/images/dot.png" alt="" /> 온라인 어린이결연 후원신청 및 후원아동 확인 가능</p>
            <p class="f_18_s text-left"><img src="~/content/images/dot.png" alt="" /> 결연어린이 성장 앨범 기록 및 확인 가능</p>
            <p class="f_18_s text-left"><img src="~/content/images/dot.png" alt="" /> 결연어린이에게 선물 기부, 편지보내기 가능</p>
        </div>
        <div class="col-sm-12 text-center">
            <img src="~/content/images/3_SmartPartner.png" class="img-responsive" alt="" />
        </div>
    </div>
</div>

