
@{
    ViewBag.Title = "사용문의";
    Layout = "~/Views/shared/_Layout.cshtml";
}

<div class="subvisual">
    <p>성공적인 모금관리 스마트레이저</p>
    <h3>SmartRaiser</h3>
</div>

<div class="section active" id="section0" style="margin:0px">
    <div class="container">
        <div class="section0_txt col-sm-5">
            <h3>성공적인 모금관리는 스마트레이저로</h3>
            <h2>기부자 관계관리를 통해<br />단체의 모금이 증가합니다.</h2>

            <p>
                모금에 최적화된 솔루션!<br />
                국내 최초 클라우드방식의 모금 소프트웨어<br />
                비영리 단체의 모금파트너
            </p>

            <a href="https://cs.smartraiser.co.kr/api/smartraisercs/survey/Survey?id=8078">+ 사용 문의하기</a>
            <a href="https://talk.naver.com/WC9P4Z" target="_blank" onclick="gtag('event', '톡톡문의 클릭', {'event_category': '톡톡문의', 'event_label': '@ViewBag.Title' });">+ 빠른 견적 알아보기</a>

        </div>
        <div class="col-sm-7">
            <div class="section0_pic">
                <img src="~/content/images/section_01_img.png" alt="" />
            </div>
        </div>
    </div>
</div>