@{
    ViewBag.Title = "기부금영수증 발급";
    Layout = "~/Views/shared/_Layout.cshtml";
}



<div class="subvisual">
    <p>성공적인 모금관리 스마트레이저</p>
    <h3>SmartRaiser</h3>
</div>

<div class="container text-center pd60">
    <h3 class="title">기부금영수증 발급</h3>
    <p class="f_18_s text-center">SmartGive 영수증을 발행하는 방법에 대해 설명드립니다. </p>
</div>


<div class="container" style="margin:30px auto 100px;">
    <div class="video_wrap">
        <iframe src="https://www.youtube.com/embed/-QfdZas3I_A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<div class="container text-center pdt30">
    <p>더 많은 기능에 대해 알고싶으신가요?<br />스마트레이저로 문의해주시면 친절하게 답변 드립니다.</p>
</div>
<div class="container text-center pd60">
    <a class="f_14 newbox" href="https://cs.smartraiser.co.kr/api/smartraisercs/survey/Survey?id=8078" target="_blank" onclick="gtag('event', '스마트레이저에 문의하기 클릭', {'event_category': '스마트레이저에 문의하기', 'event_label': '@ViewBag.Title' });">스마트레이저에 문의하기</a>
</div>