
@{
    ViewBag.Title = "스마트레이저 기능";
    Layout = "~/Views/shared/_Layout.cshtml";
}



<div class="subvisual">
    <p>성공적인 모금관리 스마트레이저</p>
    <h3>SmartRaiser</h3>
</div>


<div class="container text-center pd60">
    <h3 class="title">기능 안내</h3>

    <div class="container">
        <div class="spec3 text-center">
            <figure class="snip1200">
                <img src="~/content/images/func1.jpg" alt="sq-sample27" />
                <figcaption>
                    <p style="text-align:center">
                        <strong style="text-align:center; color:#ff0000">기부 유형별 관리</strong>
                        ◉ 정기기부
                        ◉ 약정기부
                        ◉ 일시기부<br />
                        ◉ 자산/현물기부
                        ◉ 결연기부<br />
                        ◉ 참여형기부
                        <strong style="text-align:center; color:#ff0000">기부내역 상세관리</strong>
                        ◉ 증액내역관리
                        ◉ 그룹기부관리<br />
                        ◉ 기부예우관리
                        ◉ 모금활동연계
                    </p>
                    <div class="heading">
                        <h2>기부금 관리</h2>
                    </div>
                </figcaption>
                <!--<a href="#"></a>-->
            </figure>
        </div>
        <div class="spec3 text-center">
            <figure class="snip1200">
                <img src="~/content/images/func2.jpg" alt="sq-sample32" />
                <figcaption>
                    <p style="text-align:center">
                        <strong style="text-align:center; color:#ff0000">기부자 관리</strong>
                        ◉ 기부자 그룹별 관리 가능
                        ◉ 기부자 관계관리
                        ◉ 기부자 커뮤니케이션<br />
                        ◉ 수신명/호칭
                        ◉ 관리유의사항기록<br />
                        ◉ 기부요청제한사항기록
                        <strong style="text-align:center; color:#ff0000">잠재기부자 관리</strong>
                        ◉ 잠재기부자 관리
                        ◉ 잠재기부자 <br />리스트구성
                        ◉ 자원봉사/행사참여자<br />
                        ◉ 직원/전)직원
                        ◉ 뉴스레터구독자
                    </p>
                    <div class="heading">
                        <h2>기부자 관리</h2>
                    </div>
                </figcaption>
                <!--<a href="#"></a>-->
            </figure>
        </div>
        <div class="spec3 text-center">
            <figure class="snip1200">
                <img src="~/content/images/func3.jpg" alt="sq-sample32" />
                <figcaption>
                    <p style="text-align:center">
                        <strong style="text-align:center; color:#ff0000">결제 유형</strong>
                        ◉ CMS<br />
                        ◉ 신용카드/정기<br />
                        ◉ 신용카드/일시<br />
                        ◉ 실시간계좌이체<br />
                        ◉ 가상계좌<br />
                        ◉ PayPal<br />
                        ◉ 카카오페이
                    </p>
                    <div class="heading">
                        <h2>결제서비스</h2>
                    </div>
                </figcaption>
                <!--<a href="#"></a>-->
            </figure>
        </div>
    </div>
    <div class="container">
        <div class="spec3 text-center">
            <figure class="snip1200">
                <img src="~/content/images/func4.jpg" alt="sq-sample27" />
                <figcaption>
                    <p style="text-align:center">
                        <strong style="text-align:center; color:#ff0000">이벤트</strong>
                        ◉ 모금 이벤트 관리<br />
                        ◉ 참가 신청 페이지(링크)<br />
                        ◉ 이벤트 참가자 관리: 메일링연계<br />
                        ◉ 이벤트 세부기획 관리<br />
                        ◉ 판매물품관리<br />
                        ◉ 기부금 연계가능
                    </p>
                    <div class="heading">
                        <h2>이벤트</h2>
                    </div>
                </figcaption>
                <!--<a href="#"></a>-->
            </figure>
        </div>
        <div class="spec3 text-center">
            <figure class="snip1200">
                <img src="~/content/images/func8_new.png" alt="sq-sample32" />
                <figcaption>
                    <p style="text-align:center">
                        <strong style="text-align:center; color:#ff0000">데이터 대량 입출력</strong>
                        ◉ 기부자 리스트<br />
                        ◉ 이벤트 참석자<br />
                        ◉ CMS출금동의자료<br />
                        ◉ 기부자 커뮤니케이션 내용<br />
                        ◉ 기부요청 리스트<br />
                        ◉ 엑셀 가져오기 / 템플릿 내려받기
                    </p>
                    <div class="heading">
                        <h2>데이터 대량 입출력</h2>
                    </div>
                </figcaption>
                <!--<a href="#"></a>-->
            </figure>
        </div>
        <div class="spec3 text-center">
            <figure class="snip1200">
                <img src="~/content/images/func6.jpg" alt="sq-sample32" />
                <figcaption>
                    <p style="text-align:center">
                        <strong style="text-align:center; color:#ff0000">메일링 종류</strong>
                        ◉ SMS
                        ◉ 이메일
                        ◉ 우편 (라벨출력)
                        ◉ 카카오 알림톡 / 친구톡
                        <strong style="text-align:center; color:#ff0000">메일링 기능</strong>
                        ◉ 대량 메일링 발송
                        ◉ 자동메일링<br />(약정감사, 첫납부감사, 생일축하 등)<br />
                        ◉ 예약메일링 설정
                        ◉ 수신거부체크<br />
                        ◉ 수신율 분석
                        ◉ 개인화 메시지
                    </p>
                    <div class="heading">
                        <h2>메일링 서비스</h2>
                    </div>
                </figcaption>
                <!--<a href="#"></a>-->
            </figure>
        </div>
    </div>
    <div class="container">
        <div class="spec3 text-center">
            <figure class="snip1200">
                <img src="~/content/images/func7.jpg" alt="sq-sample27" />
                <figcaption>
                    <p style="text-align:center">
                        <strong style="text-align:center; color:#ff0000">보고서</strong>
                        ◉ 기부/기부자 보고서<br />
                        ◉ 월별/기간별 보고서<br />
                        ◉ (기부)금액별 보고서<br />
                        ◉ (모금)성과 보고서<br />
                        ◉ 정기기부 입금/유지<br />
                        ◉ 거액기부자 프로필<br />
                        ◉ 모금활동 보고서<br />
                        ◉ 잠재기부자 보고서<br />
                        ◉ 맞춤형 고급 보고서
                    </p>
                    <div class="heading">
                        <h2>분석 및 보고서</h2>
                    </div>
                </figcaption>
                <!--<a href="#"></a>-->
            </figure>
        </div>
        <div class="spec3 text-center">
            <figure class="snip1200">
                <img src="~/content/images/func9.jpg" alt="sq-sample32" />
                <figcaption>
                    <p style="text-align:center">
                        <strong style="text-align:center; color:#ff0000">기부금영수증</strong>
                        ◉ 기부금영수증 즉시 다운로드<br />
                        ◉ 기부금영수증 즉시 이메일전송<br />
                        ◉ 납부증명서 발급<br />
                        ◉ 국세청파일 다운로드<br />
                        ◉ 세무서 제출용 기부금명세서<br />
                        ◉ 기부금영수증발급명세서 다운로드<br />
                        ◉ 공익법인 공시용 기부자 리스트<br />
                        ◉ 그룹기부용 기부금영수증 처리
                    </p>
                    <div class="heading">
                        <h2>기부금영수증 발행</h2>
                    </div>
                </figcaption>
                <!--<a href="#"></a>-->
            </figure>
        </div>
        <div class="spec3 text-center">
            <figure class="snip1200">
                <img src="~/content/images/func5_new.png" alt="sq-sample32" />
                <figcaption>
                    <p style="text-align:center">
                        <strong style="text-align:center; color:#ff0000">캠페인</strong>
                        ◉ 기부요청기획<br />
                        ◉ 모금목표 및 일정 수립<br />
                        ◉ 요청대상자 리스트 작성 및 분석<br />
                        ◉ 요청인등록<br />
                        ◉ 기부요청 방법별 실행 및 결과 확인<br />
                        ◉ 기부요청 성과 분석<br />
                        ◉ 모금활동별 기부성과 보고서
                    </p>
                    <div class="heading">
                        <h2>모금 캠페인 관리</h2>
                    </div>
                </figcaption>
                <!--<a href="#"></a>-->
            </figure>
        </div>
    </div>

    <div class="container text-center pdt30">
        <p>찾으시는 기능이 없나요?<br />스마트레이저로 문의해주시면 친절하게 답변 드립니다.</p>
    </div>
    <div class="container text-center pd60">
        <a class="f_14 newbox" href="https://cs.smartraiser.co.kr/api/smartraisercs/survey/Survey?id=8078" target="_blank" onclick="gtag('event', '스마트레이저에 문의하기 클릭', {'event_category': '스마트레이저에 문의하기', 'event_label': '@ViewBag.Title' });">스마트레이저에 문의하기</a>
    </div>
</div>
