
@{
    ViewBag.Title = "스마트레이저 특징";
    Layout = "~/Views/shared/_Layout.cshtml";
}

<div id="wrap">

    <div class="subvisual">
        <p>성공적인 모금관리 스마트레이저</p>
        <h3>SmartRaiser</h3>
    </div>

    <div class="container text-center pd60">
        <h3 class="title">특징</h3>
        <p class="f_18_s">스마트레이저가 창출하고자 하는 궁극적인 가치</p>
        <p>
            스마트레이저는 단체의 <strong style="color:#eb6100;">모금가</strong>를 도와 기부자를 더 많이 초대하고<br />
            기부자가 단체를 사랑하게 만들어 “더 오래, 더 다양하게 기부”하도록 돕습니다
        </p>
    </div>

    <div class="container-field pd601 bg_sec">
        <div class="container">
            <div class="spec"><p><img src="~/content/images/sub_btn01_01.png" alt="" /></p>스마트레이저는 비영리단체의 모금 전략, 모금 실행을 지원하는 소프트웨어입니다.</div>
            <div class="spec"><p><img src="~/content/images/sub_btn01_02.png" alt="" /></p>복지, 인권, 국제구호, 환경, 교육 등 다양한 분야의 비영리단체에서 모금 시스템으로 스마트레이저를 사용합니다.</div>
            <div class="spec"><p><img src="~/content/images/sub_btn01_03.png" alt="" /></p>스마트레이저는 단체 사용자들의 경험/노하우가 반영되어 주기적으로 개선되고 있습니다.</div>
            <div class="spec"><p><img src="~/content/images/sub_btn01_04.png" alt="" /></p>스마트레이저는 웹 접근방식으로 실무자들이 언제 어디서나 자유롭게 사용하여 실시간 응대가 가능합니다.</div>
            <div class="spec"><p><img src="~/content/images/sub_btn01_05.png" alt="" /></p>단체의 연간기부자 수에 따라 사용료를 책정하며 부과비용은 1년간 갱신없이 유지됩니다.</div>
            <div class="spec"><p><img src="~/content/images/sub_btn01_06.png" alt="" /></p>스마트레이저 사용자 카페, 사용 교육 및 워크샵 등을 통해 단체와 교류하고 모금 노하우가 실시간으로 공유됩니다.</div>
        </div>
    </div>
</div>
