
@{
    ViewBag.Title = "스마트레이저 특징";
    Layout = "~/Views/shared/_Layout.cshtml";
}

<div class="subvisual">
    <p>성공적인 모금관리 스마트레이저</p>
    <h3>SmartRaiser</h3>
</div>

<div class="container text-center pd60">
    <h3 class="title" style="font-size:2.0em">특징 안내</h3>
    <p class="f_18_s">스마트레이저의 궁극적인 가치는 비영리 모금조직의 성장입니다.</p>
    <p>
        기부자를 더 많이 초대하고 기부자가 단체를 사랑하게 만들어 “더 오래, 더 다양하게 기부”하도록 돕겠습니다.
    </p>
</div>

<div class="container-field pd601 bg_sec">
    <div class="container">
        <div class="spec"><p><img src="~/content/images/sub_btn01_01.png" alt="" /></p><h3>똑똑한 모금소프트웨어</h3>스마트레이저는 비영리단체의 모금전략, <br />모금실행을 지원함과 동시에 후원자에 대한 데이터도 간편하게 관리합니다.</div>
        <div class="spec"><p><img src="~/content/images/sub_btn01_02.png" alt="" /></p><h3>다양한 파트너십</h3>인권, 국제구호, 환경, 교육 등 다양한 분야의 비영리단체에서 모금 시스템으로 스마트레이저를 사용합니다.</div>
        <div class="spec"><p><img src="~/content/images/sub_btn01_03.png" alt="" /></p><h3>지속적인 업데이트</h3>모금가들의 경험과 노하우를 언제나 청취하며, 그 내용을 바탕으로 주기적으로 개선되고 있습니다. </div>
    </div>
    <div class="container">
        <div class="spec"><p><img src="~/content/images/sub_btn01_04.png" alt="" /></p><h3>뛰어난 접근성</h3>스마트레이저는 웹 접근방식으로 실무자들이 언제 어디서나 자유롭게 사용하여 실시간 응대가 가능합니다.</div>
        <div class="spec"><p><img src="~/content/images/sub_btn01_05.png" alt="" /></p><h3>합리적인 사용료</h3>단체의 연간기부자 수에 따라 사용료를 책정하며 부과비용은 1년간 갱신없이 유지됩니다.</div>
        <div class="spec"><p><img src="~/content/images/sub_btn01_06.png" alt="" /></p><h3>친절한 CS 응대</h3>스마트레이저 사용자 카페, 사용 교육 및 워크샵 등을 통해 단체와 교류하고 모금 노하우가 실시간으로 공유됩니다.</div>
    </div>
</div>

<div class="container-field ">
    <div class="container">
    </div>

    <div class="container-field ">
        <div class="container">

            <p class="f_22 text-center" style="margin-top:40px">스마트레이저는 아래의 세 가지 핵심적 특징으로 <strong style="color:#eb6100;">단체의 모금활동을 지원</strong>합니다.</p>

            <div class="spec1">
                <img src="~/content/images/img01_new1.jpg" class="img-responsive" />
                <strong style="font-size:25px"><br />1.모금행정의 자동화</strong>
                <p class="f_16_s pdt30">모금 행정 업무<br />= 반복적이지만 매우 중요한 모금행정업무의 자동화</p>
                <p class="f_14">
                    매월 수백, 수천의 출금데이터 확인/
                    금결원에 자료제출/미납데이터 확인 후 재출금 요청/ 월별 기부 내역 추출/기부감사, 출납알림, 미납안내, 중단 알림 등 자동메일 발송 등의 업무를
                    이제 스마트레이저가 합니다.
                </p>
            </div>

            <div class="spec1">
                <img src="~/content/images/img02.png" class="img-responsive" />
                <strong style="font-size:25px"><br />2.모금전략의 분석</strong>
                <p class="f_16_s pdt30">기부금 증대 전략 수립<br />= 모금가의 창의적, 지적, 정서적인 업무<br />ㅤ<br /></p>
                <p class="f_14">
                    모금가가 새로운 기부자 개발/다양한 기부 요청 활동의
                    전략을 수립하는데 필요한
                    보고서, 데이터 추출 기능을 통해 기부현황, 기부자의 양태 등을 분석하여 보고서로 제공합니다.

                </p>
            </div>

            <div class="spec1">
                <img src="~/content/images/img04.png" class="img-responsive" />
                <strong style="font-size:25px"><br />3.모금가의 비서</strong>
                <p class="f_16_s pdt30">모금가의 to do list<br />= 모금가만의 커뮤니케이션 업무ㅤ<br />ㅤ</p>
                <p class="f_14">
                    모금가가 해야 하는 기부자 커뮤니케이션을 위한 기획, 타임라인 작성, 알림, 실행, 기록, 분석이 가능합니다.
                </p>
            </div>

            <p style="clear:both; padding-bottom:6px" class="f_22 text-center">번거로운 관리업무는 모두 스마트레이저에 맡기세요.</p>

        </div>

        <div class="container text-center pd60">
            <a class="f_14 newbox" href="https://cs.smartraiser.co.kr/api/smartraisercs/survey/Survey?id=8078" target="_blank" onclick="gtag('event', '스마트레이저에 문의하기 클릭', {'event_category': '스마트레이저에 문의하기', 'event_label': '@ViewBag.Title' });">사용 문의하기</a>
        </div>
    </div>
</div>